.main-wrapper{
    @include make-container();
  
  }
  
  .main-section{
  
    &__header{
      @extend .text-center;
      padding-top: 50px;
      padding-bottom: 50px;
      font-weight: 500;
      color: $base-black;
    }
  }
  
  