
@media screen and (max-width: 577px) {
  .page-navigation{
    background-color: #ffffff !important;
  }
  .thumbnails{
    display: none;
  }
  .thumbnail-phone{
    display: flex;
  }

}
@media (min-width: 577px) and (max-width: 767px) {
  .page-navigation{
    background-color: #ffffff !important;
  }
  .thumbnails{
    display: none;
  }
  .thumbnail-phone{
    display: flex;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .page-navigation{
    background-color: #ffffff !important;
  }
  .thumbnails{
    display: none;
  }
  .thumbnail-phone{
    display: flex;
  }
}
@media (min-width: 993px) and (max-width: 1199px) {
  .thumbnail-phone{
    display: none;
  }
  .main-wrapper{
    width: 80%;
  }
  .page-navigation{
    width: 80%;
  }
  .group-products{
  
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 310px, 310px;
    grid-template-areas:
      "big-pic small-pic1 small-pic2"
      "big-pic wide-pic wide-pic";
    gap: 5px;
    margin-top:50px;
    padding-left: 15px;
    padding-right: 15px;
  }
  
  .group-left{
    grid-area: big-pic;
    padding: 0;
    &__img{
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }
  .group-right-products2{
    grid-area: small-pic1;
    padding: 0;
    &__img{
      object-fit: cover;
  width: 100%;
  height: 20vw;
    }
  }
  .group-right-products3{
    grid-area: small-pic2;
    padding: 0;
    &__img{
      object-fit: cover;
      width: 100%;
      height: 20vw;
    }
  
  }
  .group-right-products{
    grid-area:  wide-pic;
    padding: 0;
    &__img{
      object-fit: cover;
      width: 100%;
      height: 20vw;
    }
  }
  .newsletter{
    &__text{
      font-size: 16px;
    }
  }
  .page-footer{
    margin: 0 auto;
  }
  .options-section{
    text-align: right;
  }
  .policy-section{
    text-align: center;
  }
}
@media (min-width: 1201px) and (max-width: 10000px) {
  .thumbnail-phone{
    display: none;
  }
  .main-wrapper{
    width: 80%;
  }
  .page-navigation{
    width: 80%;
  }
  .newsletter{
    margin-top:100px;
    &__text{
      font-size: 16px;
    }
  }

  .group-products{
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 310px, 310px;
    grid-template-areas:
      "big-pic small-pic1 small-pic2"
      "big-pic wide-pic wide-pic";
    gap: 5px;
    margin-top:50px;
    padding-left: 15px;
    padding-right: 15px;
  }
  
  .group-left{
    grid-area: big-pic;
    padding: 0;
    &__img{
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }
  .group-right-products2{
    padding: 0;
    grid-area: small-pic1;
    &__img{
      object-fit: cover;
  width: 100%;
  height: 20vw;
    }
  }
  .group-right-products3{
    padding: 0;
    grid-area: small-pic2;
    &__img{
      object-fit: cover;
      width: 100%;
      height: 20vw;
    }
  
  }
  .group-right-products{
    padding: 0;
    grid-area:  wide-pic;
    &__img{
      object-fit: cover;
      width: 100%;
      height: 20vw;
    }
  }
  .page-footer{
    margin: 0 auto;
  }
  .options-section{
    text-align: right;
  }
  .policy-section{
    text-align: center;
  }
}